AUTH_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_URL=
MONGODB_DB=
MONGODB_URI=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
FAWATERAK_API_KEY=
FAWATERAK_VENDOR_KEY=
FAWATERAK_ENV=staging
BOSTA_API_KEY=
BOSTA_ENV=live
BOSTA_PICKUP_LOCATION_ID=